body {
  background-color: beige;
}
#display-options
{
  display: flex;
  justify-content: flex-start;
}
#readings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  padding: 1em;
}
#readings > * {
  border: 1px black solid;
  flex: 1;
  padding: 1em;
}